body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #071952, #088395);
  color: #222;
}

.header {
  background: #071952;
  color: white;
  padding: 20px;
  text-align: center;
}

.logo {
  font-size: 45px;
}

.app-title {
  margin: 5px;
  font-size: 28px;
}

.container {
  padding: 20px;
}

.card {
  background: white;
  padding: 18px;
  margin-bottom: 15px;
  border-radius: 16px;
}

.btn {
  display: block;
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  background: #088395;
  color: white;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  font-size: 16px;
}

.logout {
  background: #d90429;
}